%admonition-block {
	@extend %independent-block;
	padding: 0.2rem 0.5rem;
}

@mixin admon($fg-color, $bg, $icon) {
	@extend %admonition-block;
	border-left: 0.5rem $fg-color solid;
	>h1 {
		font-size: 1.5rem;
		color: $fg-color;
		&::before {
			display: inline-block;
			@include font-awesome($icon);
			font-size: 2rem;
			color: $fg-color;
			margin: 0 0.5rem;
		}
	}
}

aside {
	&.caution {
		// f071: fa-exclamation-triangle, fa-warning
		@include admon(#EA5, #f8f0d0, "\f071");
	}
	&.important {
		// f06a: fa-exclamation-circle
		@include admon(#EA5, #f8f0d0, "\f06a");
	}
	&.note {
		// f24a: fa-sticky-note-o
		// f05a: fa-info-circle
		@include admon(#5be, #e8f0f8, "\f05a ");
	}
	&.tip {
		// f0eb: fa-lightbulb-o
		@include admon(#5BE, #e8f0f8, "\f0eb");
	}
	&.warning {
		// f06d: fa-fire
		@include admon(red, #FEE, "\f06d");
	}
}
