%code-inline {
	border: 1px solid #eeeef8;
	border-radius: 0.2em;
	padding: 0 0.2em;
	background: #f4f4f4;
	display: inline-block;
}

%code-block {
	display: block;
	border: 1px solid #eeeef8;
	padding: 0.3rem 0.3rem;
	background: #f4f4f4;
}

pre.code {
	@extend %code-block;
}
pre >code:only-child {
	@extend %code-block;
	border: none;
	border-radius: 0.2rem;
	// Cancel `pre` padding and enable it as `code`'s padding.
	// See html-base/_block.scss .
	margin: -0.5rem -1rem;
	padding: 0.5rem 1rem;
}

pre.code.code-terminal {
	font-weight: normal;
	background: black;
	color: #ccc;
	>kbd {
		color: #f84;
		font-weight: bolder;
	}
}

:not(pre):not(.code) >code {
	@extend %code-inline;
}

code {
	&.filepath {
		&::before {
			// f016: fa-file-o
			@include font-awesome("\f016\20");
		}
	}
	&.dirpath {
		&::before {
			// f114: fa-folder-o
			@include font-awesome("\f114\20");
		}
	}
}
