
@font-face {
	font-family: 'VL Gothic';
	src: url('/assets/font/VL-Gothic-Regular.woff') format('woff');
}
@font-face {
	font-family: 'VL PGothic';
	src: url('/assets/font/VL-PGothic-Regular.woff') format('woff');
}
