:root {
	--h1-font-size: 2.2rem;
	--h2-font-size-ratio: (1.6 / 2.2);
	--h3-font-size-ratio: (1.3 / 2.2);
	--h4-font-size-ratio: (1.1 / 2.2);

	--h2-font-size: calc(var(--h1-font-size) * var(--h2-font-size-ratio));
	--h3-font-size: calc(var(--h1-font-size) * var(--h3-font-size-ratio));
	--h4-font-size: calc(var(--h1-font-size) * var(--h4-font-size-ratio));

	--h2-color: green;

	--h2-padding: 0 0 0 0.2em;
	--h4-padding: 0 0 0 0.2em;

	--h2-border-left: 0.3em solid #333;
	--h3-border-bottom: 1px solid #ccc;
	--h4-border-left: 0.3em solid #aaa;

	--h2-background: #eee;
}

h1, h2, h3, h4, h5, h6 {
	//margin: 0.6rem 0;
	margin: $vertical-unit 0;
}

$header-elems: h1, h2, h3, h4, h5, h6;

// Define %h1 - %h6.
@each $elem in $header-elems {
	$header-custom-props: font-size, border, border-top, border-right, border-bottom, border-left, padding, color, background;
	%#{$elem} {
		@each $prop in $header-custom-props {
			#{$prop}: var(--#{$elem}-#{$prop});
		}
	}
}

// Apply %h1 - %h6 to real h1 - h6 elements.
@each $elem in $header-elems {
	#{$elem} {
		@extend %#{$elem};
	}
}

$sectioning-root: blockquote, details, fieldset, figure, td;
$sectioning-content: body, section, article, aside, nav;

/*
#{$sectioning-root}, body #{$sectioning-content} {
	h1 {
		@extend %h1;
	}
	#{$sectioning-content} {
		h1 {
			@extend %h2;
		}
		#{$sectioning-content} {
			h1 {
				@extend %h3;
			}
			#{$sectioning-content} {
				h1 {
					@extend %h4;
				}
				#{$sectioning-content} {
					h1 {
						@extend %h5;
					}
				}
			}
		}
	}
}
*/
