---
title: Home
---

<article>
	<h1><%= @config[:site_name] %></h1>
	<p>
		個人的なもの含め、公開可能な全てのメモを残していく所存。
	</p>
	<section>
		<h2>Internal links</h2>
		<ul>
			<li><a href="/articles">記事一覧</a></li>
			<li><a href="/tags">タグ一覧</a></li>
		</ul>
	</section>
</article>
